
/* Sådan læses css-koden - opdeling med   ___ */

/*
Øverst er opsætningen af header
- logo
- links
- tilmeld dig
- drop down

Herunder kommer design af de enkelte sider med rækkefølgen
- index
- how to
- surdejsboller
- tips & tricks
- aarhus
- tilmeld dig
- kommer snart

*/

/* Design, der gælder elementer i header ______________________________________________________________________________ */
 :root {
   --baggrundsfarve: #e1dbce;
   --knapfarve: #c1b6a4;
   --skriftfarve: #000;
 }

 /* Sætter baggrundsfarven for alle sider */
 body {
  background-color: var(--baggrundsfarve);
 }

 /* Design af menulinjen */
  .menulinjeClass { 
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0px 50px; /* Skaber luft mellem links */
  text-decoration: none; /* Fjerner underline fra links */
  color: inherit; /* Gør links sorte i stedte for blå */
 }

 /* Default font og størrelse på al brødtekst */
 p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
 }
 
 /* Opsætning af logo */
 #detSimpleBrødLogoId {
  width: 20%;
  height: auto;
  margin-left: 3%; /* Rykker logoet minimalt ind mod midten*/
 }

 /* Opsætning af menulinje */
 #menulinjeId {
  display: flex;
  justify-content: center;
  font-size: 30px;
 }

 /* Opsætning af tilmeld dig i menulinjen*/
 #tilmeldDigId {
  padding: 10px;
  background-color: var(--knapfarve);
  margin-top: -10px; /* Sørger for at 'knappen' stadig et på linje med resten i menulinjen*/
 }

 /* DROP DOWN ______________________________________________________________________________*/

/* Styling af drop down, der er skjult default */
.dropdownIndhold {
  display: none; /* Gør at den er skjult */
  position: absolute; /* Gør at elementerne i menulinjen ikke flytter sig, når en drop down vises */
  background-color: var(--knapfarve); /* Giver drop down en anden og mørkere farve*/
}

/* Links i dropdown */
.dropdownIndhold a {
  color: var(--skriftfarve);
  padding: 12px 16px; /* Sætter størrelsen på drop down-elementet (det der har farven --knapfarve)*/
  text-decoration: none; /* Fjerner underline fra indholdet i dropdown default */
  display: block; /* Indholdet i drop down visen oven på hinanden i stedte for ved siden af hinanden*/
  font-size: 25px; /* Skriftstørrelsen på links i drop down */
}

/* Laver links i drop down med underline ved hover */
.dropdownIndhold a:hover {text-decoration: underline;}

/* Viser drop down ved hover */
.dropdown:hover .dropdownIndhold {
  display: block;
}

 /* Opsætning af de tre øverste billeder */
 .tripleClass {
  width: 75%;
  height: auto;
  margin: 2% 10% 2% 13%; /* Placering på sitet */
}

/* ____________________________________________________________________________________ */

/* DESIGN AF INDEX */
#overskriftIndexId {
  display: flex;
  justify-content: center;
  font-weight: lighter;
}

.underoverskriftIndexId {
  margin-top: -2%;
  font-weight: lighter;
}

/* Opsætning af tilmeld dig nederst på indexsiden */
#indexTilmeldDigId {
  padding: 10px;
  background-color: var(--knapfarve);
  display: flex;
  justify-content: center; /* Justerer elementer til midten */
  align-items: center; /* Centrerer elementer vertikalt */
  text-decoration: none; /* Fjerner underline fra links */
  color: inherit; /* Gør links sorte i stedte for blå */
  font-size: 30px;
  max-width: fit-content; /* Sikrer at padding ikke dækker hele bunden fra venstre til højre */
  margin: 0 auto; /* Tilføjer margin til at centrere elementet i forhold til dets container */
}

/* ____________________________________________________________________________________ */

/* DESIGN AF  HOW TO*/

article {
  text-align: center;
  margin: 0px 30%; 
} 

h2 {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

/* ____________________________________________________________________________________ */

/* DESIGN AF SURDEJSBOLLER*/

#surdejsbollerId {
  margin-top: 3%; /* Flytter overskriften OPSKRIFT PÅ SURDEJSBOLLER minimalt ned og væk fra menulinjen*/
}

/* ____________________________________________________________________________________ */

/* STYLING AF TIPS & TRICKS*/

  #togtArticleId {
    margin-top: 3%; /* Flytter overskriften OPSKRIFT PÅ SURDEJSBOLLER minimalt ned og væk fra menulinjen*/
  }

/* ____________________________________________________________________________________ */

/* STYLING AF AARHUS */

#davidBreadHeadLogoId {
  width: 40%;
  height: auto;
}

.reference {
  margin-top: 0%;
}

#jumboBakeryLogoId {
  width: 40%;
  height: auto;
}

/* ____________________________________________________________________________________ */

 /* DESIGN AF TILMELD DIG */

 /* Placering af inputfelter og tilgørende tekst samt tekstens udseende */
 #formSectionId {
  display: flex;
  justify-content: center;
  font-size: 25px;
 }

 /* Styling af inputfelternes og TILMELD-knappens størrelse og farver */
  #formSectionId input[type="text"], #formSectionId input[type="number"], #formSectionId input[type="email"] {

  /* Ændrer baggrundsfarven */
  background-color: var(--knapfarve);
  width: 75%; /* Bredden på inputfelterne */
}

/* Ændrer farven på labelteksten */
#formSectionId label {
  color: var(--skriftfarve); 
  font-size: smaller;
}

#formSectionId {
  text-align: center; /* Placerer knappen i midten */
}

#formSectionId input {
  padding: 10px;
  background-color: var(--knapfarve);
  color: var(--skriftfarve);
  font-size: 17px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center; /* Placerer knappen i midten */
}

#tilmeldDigPId {
  text-align: center;
  margin: 5%; 
}


/* ____________________________________________________________________________________ */

/* DESIGN AF KOMMER SNART*/

.herClass {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold; /* Gør linket 'her!' tydeligt*/
  text-decoration: none; /* Fjerner underline fra links */
  color: inherit; /* Gør links sorte i stedte for blå */
}

#pId {
  text-align: center;
  margin: 3% 30%; 
}


/* ____________________________________________________________________________________ */
